# Created by venv; see https://docs.python.org/3/library/venv.html

.venv
adversarial-robustness-toolbox/
*.pkl
*.pth
*.pt
*.pth.tar
*.pth.tar.gz

*.pth.tar.bz2
*.pth.tar.xz
*.pth.tar.lzma
*.pth.tar.lz
*.pth.tar.lz4
*.pth.tar.zstd
*.md
.DS_Store
*.cfg
*.toml
*.lock
*.python-version
.pytest_cache/
catboost_info/
logs/
*.md
__pycache__/
*.pyc
apelid/
IEC-104/datasets/CTGAN/                                                                                                                                         
IEC-104/datasets/CopulaGAN/                                                                                                                                     
IEC-104/datasets/DNN/                                                                                                                                           
IEC-104/datasets/GaussianCopula/                                                                                                                                
IEC-104/datasets/SMOTE/                                                                                                                                         
IEC-104/datasets/TabDiff/                                                                                                                                       
IEC-104/datasets/TVAE/
MODBUS-2023/datasets/CTGAN/                                                                                                                                     
MODBUS-2023/datasets/CopulaGAN/                                                                                                                                 
MODBUS-2023/datasets/GaussianCopula/                                                                                                                            
MODBUS-2023/datasets/TVAE/                                                                                                                                      
MODBUS-2023/datasets/backup/
*.csv
